.wrapper {
    padding: 2% 1% 0 1%;
    margin-bottom: 4%;
    display: flex;
    column-gap: 1%;
    align-items: normal;
}

.wrapper img {
    width: 120px;
    height: 120px;
    border-radius: 20% 50% 20% 50%;
}